$main-red: #D32F2F;
$second-red: #f77c7c;
$bg-color: #EFEFEF;
$dark-font: #212121;
$light-font: #fff;
$box-color: #D9D9D9;

// Pokemon types colors

$bug: #99c32f;
$dark: #5b5668;
$dragon: #0870bf;
$electric: #f6d74f;
$fairy: #ed92e4;
$fighting: #e04452;
$fire: #ffa84e;
$flying: #9db7e8;
$ghost: #626dbe;
$grass: #5ebc61;
$ground: #d87948;
$ice: #8ad9d2;
$normal: #a6a69f;
$poison: #c15fd2;
$psychic: #f86c72;
$rock: #d3c891;
$steel: #56a7a9;
$water: #4e92d6;