@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Teko:wght@300&family=Tektur:wght@500&display=swap');

$title-font: "Teko";
$subtitle-font: "Tektur";
$commom-font: "Roboto";
