.container{ // main container with all pokemons
  margin-top: 6.5rem;
  
  #all-pokemons{
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
  }

  .pokemon-divs{ // Global config to all pokemon divs
    width: 20rem;
    height: 26rem;
    background-color: $box-color;
    // border-bottom: .2rem solid $second-color;
  }

}