*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100dvh;
  min-height: 100vh;
  background-color: $bg-color;
}

.hide{
  display: none !important; 
}

.header{
  width: 100%;
  height: 6rem;
  background-color: $main-red;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  .navbar{ // nav bar config
    height: 100%;
    width: 100%;
    .search-champs{ // search input div config

      .search-button{ // Search button
        font-size: 1.2rem; // using bootstrap icons, and because of it i manipulate the magnifying glass icon like a text 
      }

      .search-champs-input{ // Input area config
        width: 24.125rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: $bg-color;
        border: none;
      }
    }
  }

  .logo{ // site logo
    width: 4rem;
    height: 4rem;
    transition: all .5s ease-out; 

    &:hover{
      transform: rotate(360deg) scale(1.1);
    }
  }

  i{
    font-size: 1.2rem;
    &.bi.bi-arrow-left-circle-fill{
      font-size: 2.2rem;
      color: $dark-font;
    }
  }
}

.line-after{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .15rem;
    background-color: $dark-font;
  }
}

#error-message{
  @include font-styles($commom-font,2rem,$dark-font);
}

.bug{
  background-color: $bug !important;
}
.dark{
  background-color: $dark !important;
}
.dragon{
  background-color: $dragon !important;
}
.electric{
  background-color: $electric !important;
}
.fairy{
  background-color: $fairy !important;
}
.fighting{
  background-color: $fighting !important;
}
.fire{
  background-color: $fire !important;
}
.flying{
  background-color: $flying !important;
}
.ghost{
  background-color: $ghost !important;
}
.grass{
  background-color: $grass !important;
}
.ground{
  background-color: $ground !important;
}
.ice{
  background-color: $ice !important;
}
.normal{
  background-color: $normal !important;
}
.poison{
  background-color: $poison !important;
}
.psychic{
  background-color: $psychic !important;
}
.rock{
  background-color: $rock !important;
}
.steel{
  background-color: $steel !important;
}
.water{
  background-color: $water !important;
}